@using GridCore
@addTagHelper *, GridMvc

@model ISGrid

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <grid model="@Model" />
    </div>
</div>
