@page
@model dotnet_inventory_example.Pages.ProductsPageModel

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-9">
        <grid model="@Model.Grid" />
    </div>
    <div class="col-md-3">
        <h4>
            Product details
        </h4>
        <div id="order-content">
            <p class="muted">
                Select product to display detailed infomation
            </p>
        </div>
    </div>
</div>

<script>
    $(function () {
        pageGrids.ordersGrid.addFilterWidget(new CustomersFilterWidget());

        pageGrids.ordersGrid.onRowSelect(function (e) {
            $.get("/Home/GetProduct?id=" + e.row.ProductId, function (data) {
                if (data.status <= 0) {
                    alert(data.message);
                    return;
                }
                $("#order-content").html(data.content);
            });
        });
    });
</script>
